openapi: 3.1.0
info:
  title: FullStory Segments Export Batch Import Session Events API
  description: 'The FullStory Segments Export API provides an asynchronous workflow for downloading captured event data from FullStory. Developers can initiate export jobs to aggregate segment data, query for the status of running jobs, and retrieve download URLs for completed exports. Two types of segment data are available for export: individuals matching a segment and events performed by those individuals. This API is useful for integrating FullStory behavioral data into external analytics pipelines and data warehouses.'
  version: '1.0'
  contact:
    name: FullStory Support
    url: https://help.fullstory.com/
  termsOfService: https://www.fullstory.com/legal/terms-and-conditions/
servers:
- url: https://api.fullstory.com
  description: FullStory Production API Server
security:
- basicAuth: []
tags:
- name: Session Events
  description: Retrieve the full set of captured events for a specific session, including page views, clicks, and custom events.
paths:
  /v2/sessions/{sessionId}/events:
    get:
      operationId: getSessionEvents
      summary: Get session events
      description: Returns the full set of captured events for a specified session, including page views, clicks, custom events, and other interactions recorded during the session.
      tags:
      - Session Events
      parameters:
      - $ref: '#/components/parameters/SessionIdPath'
      responses:
        '200':
          description: Session events retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionEvents'
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Session not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: Standard error response from the FullStory API
      properties:
        code:
          type: integer
          description: HTTP status code
        message:
          type: string
          description: Human-readable error message
    SessionEvent:
      type: object
      description: An individual event captured during a session
      properties:
        type:
          type: string
          description: The type of event captured
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the event occurred
        data:
          type: object
          description: Event-specific data and properties
          additionalProperties: true
    SessionEvents:
      type: object
      description: Full set of captured events for a session
      properties:
        events:
          type: array
          description: Array of events captured during the session
          items:
            $ref: '#/components/schemas/SessionEvent'
  parameters:
    SessionIdPath:
      name: sessionId
      in: path
      required: true
      description: The session identifier, URL encoded
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: API key passed in the Authorization header using Basic authentication. Admin or Architect level keys are required.
externalDocs:
  description: FullStory Segments Export API Documentation
  url: https://developer.fullstory.com/server/v1/segments/create-segment-export/
